<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>164720637351-7dthnajirk7lhsqkfc7fqngb6e4lq33o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.164720637351-7dthnajirk7lhsqkfc7fqngb6e4lq33o</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>164720637351-asgv55e9pene2jt86clm2h52dibtra56.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC0biLQeqeN7ULoZ0MQW_MMG_srK-kwUH0</string>
	<key>GCM_SENDER_ID</key>
	<string>164720637351</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.plant-os.ios</string>
	<key>PROJECT_ID</key>
	<string>plantos-development-225209</string>
	<key>STORAGE_BUCKET</key>
	<string>plantos-development-225209.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:164720637351:ios:2442bb162cef82d282b282</string>
	<key>DATABASE_URL</key>
	<string>https://plantos-development-225209.firebaseio.com</string>
</dict>
</plist>